<htmal>
    <head>
        <title>UMI's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">UMI's blog</a></h1>
        </div>
        
        <div>
            <p>published: 2020</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello, There!! How are you doing today??</p>
        </div>

        <div>
            <p>公開日：2020.8</p>
            <h2><a href="">My secound post</a></h2>
            <p>Hello, There Again!! How are you doing today??</p>
        </div>

    </body>
</htmal>